.boxPai {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 1000px;
    background-color: var(--coramarelo);
    font-family: var(--popins);

}


.boxPai .boxFlex .boxConteudo{

    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 900px;;
    min-height: 650px;
    margin: 0px auto;
    position: relative;
    border-radius: 10px;
}

.boxImagem {

    width: 550px;
    height: 550px;
  
    clip-path: circle();
    object-fit: cover;
    position: absolute;
    left: -15%;
    top: -5%;


    background-image: url(../../../public/ramon1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.boxConteudo .texto {

       
        width: fit-content;
        position: absolute;
        width: 500px;
        right: -150px;
        top: 20%;
        text-align: center;

       
        

    &>h1{

        font-size: 3rem;
        width: 100%;
        padding: 10px 0px;
        text-transform: uppercase;
        font-weight: 200;
        text-align: left;
    }

    & >h1::after{

        content: '';
        display: block;
        width:100%;
        transition: all 800ms ;
        border-bottom: 4px solid var(--corroxo);
    }
       

    &> p{

        line-height: 25px;
        font-size: 1.3rem;
        letter-spacing: 2px;
        text-align: left;
        font-weight: 300;
        line-height: 30px;
        padding: 10px 0px;
       


        & span{

            font-weight: 500;
        }
    }

    &>p::first-letter{

        font-size: 3rem;
        color: var(--corroxo);
        font-weight: bolder;

    }


    & button{

        width: 200px;
        border: none;
        padding: 20px;
        background-color: var(--corroxo);
        position: absolute;
        left: 0;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 3px 4px 8px  rgba(0, 0, 0, 0.623);
        font-size: 1.3rem;
        margin-top: 20px;

    }

}
    
    

  

@media screen and (max-width:1240px) {

    .boxConteudo .boxImagem{

        width: 450px;
        height: 450px;
        left: -7%;
        top: -10%;
    }


    .boxConteudo .texto{

        right: -3%;
    }


}




@media screen and (max-width:1045px) {

    .boxPai{

        min-height: 1300px;
    }

    .boxPai .boxFlex{

        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0px 20px;
    }

    .boxPai .boxFlex .boxConteudo{

        min-height: 850px;
        
        
    }

    .boxConteudo .boxImagem{

        width: 450px;
        height: 450px;
        left: 50%;
        transform: translate(-50%);
        top: -20%;
        
    }


    .boxConteudo .texto{
     

        position: static;
        margin-top: 300px;
        width: 80%;


        & >h1::after{

            content: '';
            display: block;
            width:60%;
            transition: all 800ms ;
            border-bottom: 4px solid var(--corroxo);
        }


        & button{

           position: static;
           width: 100%;

        }
    }





}


@media screen and (max-width:502px) {

    .boxPai .boxFlex .boxConteudo{

        border-radius: 50px 50px 10px 10px;
        position: relative;
        
    }

    .boxPai .boxFlex .texto{

        margin-top: 170px;

        & h1{

            font-size: 10vw;
        }

        & p{

            font-size: 1rem;
            text-align: center;
        }
    }

    .boxPai .boxFlex .boxImagem{

        width: 80%;
       
        background-size: contain;
        position: absolute;
        

        
    }

}








