
.boxQuem{

   background-image: linear-gradient( to right , #9190C9 40% , transparent);
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    overflow: hidden;
    position: relative;




   }
  


.boxQuem > .boxImagem {

  position: relative;

  
    
  & .back{

   width: 500px;
   min-height: 600px;
   background-color: var(--coramaforte);
   position: absolute;
   left: 10%;
   top: 10%;

   

  }


  & .front{

      width: 500px;
      min-height: 600px;
      position: absolute;
      left: 13%;
      top: 10%;
     



      & .imgBack{

         width: 100%;
         height: 600px;
         object-fit: cover;
         object-position: center;
                  
         
      }
  }
   



}



   


.boxQuem >  .boxTexto {


    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: 100%;
    font-family:var(--popins);

}
   

    

.boxQuem .boxTexto  .boxGeral{

   width: 300px;
   border-radius: 15px;
   min-height: 550px;
   
   
}
 
   
  

  




 .boxQuem .boxTexto .define {

   
   position: relative;
 
   top: -50px;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-between;
   gap: 20px;
   background-color: white;
   
   


   & p{

      font-size: 1rem;
      color: rgba(0, 0, 0, 0.699);
      padding: 10px;
      text-align: left;
     
   }
   
      
   
}
   

.boxQuem .boxTexto .define .boxEmoji{

  background-color: var(--corroxo);
  border-radius: 10px 10px 200px 10px;
  transition: all 800ms;

   
   
   top: 0;
   margin: 3px;

 





 & .imgEmoji{

   width: 100%;
   height: 100%;
   position: relative;
   left: -50px;
   top: -30px;
   filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.788) );
 }


 
}





 .boxQuem .boxTexto .skills{

  
   position: relative;
  
   top: 80px;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-between;
   background-color: white;
   
  
   
 

   & p{

      color: rgba(0, 0, 0, 0.699);
      padding: 10px;
      text-align: left;
   }

   & .boxEmoji2{

      background-color: var(--coramaforte);
      border-radius: 10px 10px 200px 10px;
      transition: all 800ms;
      
     top: 0;
     min-height: 320px;
     margin: 3px;      
   }

   & .iconQc{

      width: 80%;
      height: 80%;
      position: relative;
      left: -10px;
      top: -10px;
      
   }

 }

 .boxQuem .boxTexto .ferramentas{

   
    background-color: white;
    position: relative;
    top: -50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



    & p{

      
      padding: 40px 10px;
      color: rgba(0, 0, 0, 0.699);
      text-align: left;
    }


    & .boxEmoji3{

      background-color:#88E3FB;
      border-radius: 10px 10px 200px 10px;
      transition: all 800ms;
      min-height: 270px;
      margin: 3px;
      
   

      & .imgLinguagem{

         height: 80%;
         width: 80%;
         top: 5px;
         left: 10px;
         position: relative;
      }

    }




    & .boxIconesFerramentas{

      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      padding: 10px;
     
      



      & .iconLg{

         width: 50px;
         height: 50px;
      }

    }

 }



/* intersection animationons */


.animaOff{

   transform: translateX(150px);
   opacity: 0;
   transition: none;
   filter: blur(3px);
}

.animaOn{

   transform: translateX(0);
   filter: blur(0);
   opacity: 1;
   transition: all 1s;
   transition-timing-function: linear;
   transition-delay: 200ms
   
}



.frontOff{

   transform: scale(0);
   opacity: 0;
   filter:blur(10px);
   transition: none;

}

.frontOn{

   transform: scale(1);
   opacity: 1;
   filter: blur(0);
   transition: all 2s;


}



.boxTexto > div:nth-of-type(1){

   transition-delay: 500ms;
}

.boxTexto > div:nth-of-type(2){

   transition-delay: 1s;
}


.boxTexto > div:nth-of-type(3){

   transition-delay: 1.5s;
}






 @media screen and (max-width:1714px) {

   .boxQuem{

      background-image: linear-gradient( to bottom , #9190C9 40% , transparent);
      overflow: visible;
     grid-template-columns: repeat(1 , 1fr);
      grid-row-gap: 50px;
      padding-bottom: 20px;
   }

   .boxQuem .boxImagem{

      width: calc(100% - 20px);
      margin: 10px;
      


     & .back {

        position: static;
        /* width: 100%;
         border-radius: 10px;
        background-image: url(../../../public/des.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent; */

        display: none;
       
        

        & .front{

            display: none;
        }
         
      }
      
   }






  
.boxQuem .boxTexto{

   display: grid;
   grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
   align-items: center;
   justify-content: center;
   align-content: center;
   align-content: center;
   justify-items: center;
   overflow: hidden;
   gap: 20px;
   
}
   


.boxQuem .boxTexto .boxGeral{

   top: 0;
   min-height: 650px;
   justify-content: space-between;
   width: 400px;


   & p{

      font-size: 1.2rem;
      text-align: center;
   }
   
   
   & .boxEmoji2{

      min-height: 400px;
   }


   & .boxEmoji3{

      min-height: 350px;
   }


}
      

 }



@media screen and (max-width:1290px) {

  .boxQuem .boxTexto > div {

     transition-delay: 0s;
   }

   .boxQuem .boxTexto{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


      & div{

         height: 100%;

         & .boxEmoji3{

            width: calc(100% - 5px);
            
         }
            
            


         & .imgEmoji{

           object-fit: contain;
           object-position: center;
      
         }

         & .iconQc{

            object-fit: contain;
            object-position: center;
         }

      & .imgLinguagem{

         object-fit: contain;
         object-position: center;
      }

      }
      
      
   }

  
      

   

}



@media screen and (max-width:1000px) {

   .boxQuem .boxTexto{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2 , 1fr);


      

   }

}



@media screen and (max-width:847px) {

      .boxQuem .boxTexto{

         display: grid;
         grid-template-columns: repeat(2 , 1fr);

         & .boxGeral{

            width: 100%;
         }
      }

}



@media screen and (max-width:545px) {


   .boxQuem .boxTexto{

      display: grid;
      grid-template-columns: repeat(1 , 1fr);
      align-items: center;
      justify-content: center;
      align-content: center;
      justify-items: center;
   
   }

   .boxQuem .boxTexto .boxGeral{


         width: 100%;


      }


      

      .boxQuem .boxTexto > .define p {

         font-size: 1.099rem;
         text-align: center;
        
   
      }
   
      .boxQuem .boxTexto > .skills p {
   
         font-size: 1.099rem;
         text-align: center;
        
   
      }
   
      .boxQuem .boxTexto > .ferramentas p {
   
         font-size: 1.099rem;
         text-align: center;
         padding: 20px 10px 0px 10px;
         
      }      


     
 
}




/* @media screen and (max-width:360px) {

   .boxQuem .boxTexto > .define p {

      font-size: 1.099rem;
      text-align: left;
     

   }

   .boxQuem .boxTexto > .skills p {

      font-size: 1.099rem;
      text-align: left;
     

   }

   .boxQuem .boxTexto > .ferramentas p {

      font-size: 1.099rem;
      text-align: left;
      padding: 20px 10px 0px 10px;
      
   }      
     


} */






 
 
    

   



    




   
    




    
    






