
.boxQuem{

   background-image: linear-gradient( to right , #9190C9 40% , transparent);
   min-height: 800px;
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
    gap: 20px;
    overflow: hidden;
    position: relative;
    z-index: -2;
  

}

.boxQuem > .boxImagem {

    
  
   position: relative;
  background-image: url(/sucesso.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
    z-index: 1;
   border-radius: 0px 300px 300px 0px;
   

}


   

   


.boxQuem >  .boxTexto {


    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    width: 100%;
    font-family:var(--popins);

}
    
    

 .boxQuem .boxTexto > div{

    width: 250px;
    border-radius: 15px;

   
}



   

 .boxQuem .boxTexto div:nth-of-type(1){

   
   position: relative;

   
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 20px;
   background-color: white;
   


   & p{

      font-size: 1rem;
      color: gray;
      padding: 10px;
   }
   
}
   

.boxQuem .boxTexto .define .boxEmoji{

  background-color: var(--corroxo);
  border-radius: 10px 10px 200px 10px;
  transition: all 800ms;



 & .imgEmoji{

   width: 100%;
   height: 100%;
   position: relative;
   left: -50px;
   top: -30px;
   filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.788) );
 }


 .boxQuem .boxTexto .define .boxEmoji:hover{

   display: none;
 }


}



 .boxQuem .boxTexto .skills{

  
    min-height: 400px;
    background-color: gray;
    position: relative;
    top: 100px;

 }

 .boxQuem .boxTexto .ferramentas{

    min-height: 400px;
    background-color: gray;
    position: relative;
    top: -100px;
    cursor: pointer;

 }






 
 
    

   



    




   
    




    
    






