.boxTopo {

    width: 100%;
    text-align: center;
    padding: 20px 10px;
    
    /* height: 70px; */
   
    z-index:2;
   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    
  

   
    
    & .marca{

        display: flex;
        flex-direction: row;
        gap: 2px;
       position: absolute;
       top: 10px;
       font-family: var(--popins);
       left:30px;
       


       & p:not(p:first-of-type){

            font-size: 1.54rem;
            color: var(--coramaforte);
            

        }

        & p:first-of-type{

            font-size: 4rem;
            left: -17px;
            top: -30px;
            position: absolute;
            color: var(--corroxo);
            
        }
            


        
            
      
    }

}



.boxTopo li {

    font-family: var(--popins);
    
}


.boxTopo > .navPrincipal > ul {

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
   
    
}

.boxTopo > .navPrincipal > ul > .linkTopo{

   color: gray;
   font-weight: 500;
   transition-timing-function: linear;
    transition: 400ms;
  
}

.boxTopo > .navPrincipal > ul > .linkTopo:nth-of-type(2){

    color: var(--corroxo)
}


.boxTopo > .navPrincipal > ul > .linkTopo:hover:not(.linkTopo:nth-of-type(2)){


    color: var(--coramaforte);
    transition-timing-function: linear;
    transition: 400ms;
}

.boxTopo > .navPrincipal > ul .linkTopo:nth-of-type(2):hover{

    color: var(--coramaforte);
    transition-timing-function: linear;
    transition: 400ms;
}



@media screen and (max-width:1100px) {

   .boxTopo .navPrincipal ul {

        justify-content: flex-end;
        padding-right: 10px;
    }

    .boxTopo{

        justify-content: flex-end;
        padding-right: 10px;
    }

}
