.boxPai{

    min-height: 900px;
    font-family: var(--popins);
    background-color: rgba(230,234,255);
    overflow: hidden;
}

.boxPai h1{

    text-align: center;
    padding:40px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--corroxo);


}


.boxPai .boxCards{

    display: grid;
   
    grid-template-columns: repeat(2 , 450px);
    gap: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 80px 20px;

    


    & h2{

        text-transform: uppercase;
        color:rgba(0, 0, 0, 0.74);
        font-size: 2.5rem;
       
    }

    & p{

        text-align: center;
        color:rgba(0, 0, 0, 0.74);
        font-weight: 500;
        font-size: 1.5rem;
       
    }
        
        

}


  


.boxPai .boxCards .card{

    
    min-height: 450px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 90px 10px 90px 10px;
    
 

    box-shadow: 0px 0px 5px rgba(131,131,131,0.075) , 0px 0px 20px rgba(131, 131, 131, 0.705);
    & .icon{

        width: 90px;
        height: 90px;
    }

}







.boxPai .boxCards .card:nth-of-type(1) {

    border-top: 20px solid var(--corroxo);
    border-bottom: 20px solid var(--corroxo);

    


    & .icon{

        background-color: var(--corroxo);
        clip-path: circle();
        padding: 10px;

        animation-name: moveIcon;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
}


.boxPai .boxCards .card:nth-of-type(2) {

    border-top: 20px solid #2CBECC;
    border-bottom: 20px solid #2CBECC;


    

    & .icon{

        background-color:#2CBECC;
        clip-path: circle();
        padding: 10px;

        animation-name: moveIcon;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
}

.boxPai .boxCards .card:nth-of-type(3) {

    border-top: 20px solid #F1C50E;
    border-bottom: 20px solid #f1c50e;

    & .icon{

        background-color:#F1C50E;
        clip-path: circle();
        padding: 10px;

        animation-name: moveIcon;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
}


.boxPai .boxCards .card:nth-of-type(4) {

    border-top: 20px solid #E142DC;
    border-bottom: 20px solid #E142DC;


    & .icon{

        background-color:#E142DC;
        clip-path: circle();
        padding: 10px;

        animation-name: moveIcon;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
}
    
    
   
.animaOff{

    transform: scale(0);
    filter: blur(10px);
    opacity:0;
    transition: all none;

}

.animaOn{

    
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    transition: all 1s;
}




@media screen and (max-width:1000px) {

    .boxPai .boxCards{

        grid-template-columns: repeat(2 , minmax(300px , 1fr));


        & .card {

            & h2{

                font-size: 2.2rem;
                padding: 0px 15px;
            }
        }


        & > .card:nth-last-of-type(4){

            grid-column: 1/span 3;
            width: 100%;
            
            
        }

        & > .card:nth-last-of-type(1){

            grid-column: 1/span 3;
            width: 100%;
           
        }


        & > .card:nth-last-of-type(2){

            grid-column: 1/2;
            grid-row: 2/3;
            height: 100%;
            width: 100%;

        }
            

           

        & > .card:nth-last-of-type(3){

            grid-column: 2/4;
            grid-row: 2 /3;
            height: 100%;
            width: 100%;
            
            
           
        }

    }

}



/* intersection animations */


.bl1Off{

    transform: scale(0) translateX(-800px);

    transition: none;

}




.blOn{

    transform: scale(1)  translateX(0);
    transition: all 800ms linear;
}


.titOff{

transform:  translateX(150px);
opacity: 0;
filter: blur(5px);
transition: all 500ms linear;

}

.titOn{


transform: translate(0);
filter: blur(0);
opacity: 1;
transition: all 1s linear;



}




@media screen and (max-width:700px) {


    .boxPai .boxCards{

        grid-template-columns: repeat(1 , 1fr);



        & > .card:nth-last-of-type(2){

            grid-column: 1/4;
            grid-row: 2/ span 3;
            height: 100%;
            width: 100%;
            
        }
    
           
    
        & > .card:nth-last-of-type(3){
    
            grid-column: 1/4;
            grid-row: 5 / span 3;
            height: 100%;
            width: 100%;
           
        }
    



    }

  
        

}


@media screen and (max-width:321px) {

    .boxPai h1 {

      font-size: 15vw;
    }

    .boxPai .boxCards {

       grid-template-columns: repeat( 1 , minmax(100px , 1fr));


       & .card h2{

        font-size: 10vw;
       }
       
    }

}




@keyframes moveIcon {


        to{

            transform: rotate(10deg);
        }
}