.boxPai{

    background-color: black;
    height: 100vh;
    color: white;
    align-content: center;
    text-align: center;
    font-family: var(--popins);


}

.boxPai h1 {

    font-size: 2rem;
}

.boxPai p {

    font-size: 3rem;
}



.link{

    color: white;
    text-decoration: underline 2px solid white;
    text-underline-offset: 5px;
}