.boxFot{

    padding: 12px 10px;
    text-align: center;
    font-family: var(--popins);
    color: rgba(0, 0, 0, 0.726);
    
    
    

    & h3 {

      
     
        font-weight: 400;


        
    }

    & h3::first-letter{

        font-size: 1.4rem;
        color: var(--corroxo);
        font-weight: bold;

    }


    & span {

        color: var(--corroxo);
        font-weight: bold;
    }   



       
}


