

.boxBanner{


    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 1000px;
    position: relative;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    
    
    
   
    & .image{

        width: 100%;
        height: fit-content;
    }

    
   

  
}

.boxBanner .boxImagem{

   width: 50%;
   position: relative;

   animation-name: moveImg;
   animation-duration: 1s;
   animation-timing-function: linear;


   & .nuvem{

    width: 150px;
    height: 150px;
    position: absolute;
    mix-blend-mode: darken;

    animation-name: moveNuvem;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

   }

   & .imgNuvem{

    
    top: -40px;
    left: 5vw;
    animation-delay: 600ms;
    


    }

    & .imgNuvem1{

        top: -80px;
        left: 25vw;
        animation-delay: 1s;

        
    }
  
    & .imgNuvem2{

        top: 0;
        right: 25vw;
        animation-delay: 1.5s;
    }

    & .imgFoguete{

        width: 300px;
        height: 300px;
        position: absolute;
        top: 150px;
        left: -100px;
        mix-blend-mode: darken;

        animation-name: moveFoguete;
        animation-duration: 8s;
        
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        

    }





}

.boxBanner .boxTexto{

    width: 50%;
    z-index: 1;
    padding-left: 100px;
    font-family: var(--popins);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    animation-name: moveTx;
    animation-duration: 1s;
    animation-timing-function: linear;
    

    & mark{

        background-color:transparent;
        color: var(--coramarelo);
    }
   

    & h1{

        font-size: 3.5rem;
        text-transform: uppercase;
        width: 100%;
    }

    & p{

        font-size: 1.2rem;
        border-left: 5px solid #EEAB42;
        padding-left: 5px;
        margin: 10px 0px;
        
    }

    & button{

        max-width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        background-color:#EEAB42;
        color: white;
        padding: 25px;
        font-size: 1.5rem;
        text-transform: uppercase;
        gap: 20px;
        border-radius: 10px;
        transition: all 400ms;
        position: relative;


        & .imgWpp{

            width: 35px;
            height: 35px;
            mix-blend-mode: darken;
        }

    }


   
        
    & button:hover > .imgWpp{

        animation-name: animaWpp;
        animation-duration: 300ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        mix-blend-mode:difference;
    }


    & button:hover{

        background-color:#463894 ;
        transition: all 400ms;
    }



    

 
 }


 .boxBanner::after{

    content:' ';
    display: block;
    position: absolute;
    width: 100%;
    min-height: 1000px;
    background-image: linear-gradient(to right , var(--corroxo) , transparent);

    

    
}





@media screen and (min-width:1920px) {

    .boxImagem .image{

        width: 1024px;
        height: 100%;
    }
    
}



@media screen and (max-width:1310px) {

    .boxBanner .boxTexto h1{

        font-size: 2rem;

    }


    .boxBanner .boxImagem .imgFoguete{

        width: 200px;
        height: 200px;

    }

}




@media screen and (max-width:1100px) {

    .boxBanner{

        display: flex;
        flex-direction: column;
        gap: 100px;
    }




    .boxBanner .boxTexto{

        width: 100%;
        padding: 40px 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 900px;
        margin: 0px auto;
        gap: 40px;


    }

    .boxBanner .boxTexto  h1{

        font-size: 6vw;
    }

    .boxBanner .boxTexto p {

        border: none;
    }
       

       



    .boxBanner::after{

        content:' ';
        display: block;
        position: absolute;
        width: 100%;
        min-height: 800px;
        background-image: linear-gradient(to bottom , var(--corroxo) , transparent);
    
    }


     .boxBanner .boxImagem{

       width: 100%;
       padding: 0px 40px;
       margin: 0px auto;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       
       object-fit: contain;

        & .image{

            width: 80vw;
            
        }


        & .imgFoguete{

            left: 0px;
            width: 20vw;
            height: fit-content;
        }

        & .imgNuvem{

            left: 40px;
        }

        & .imgNuvem1{

            left: 160px;
        }
            

    }
        
    
}


.boxBanner .navEscondida{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    /* width: 350px; */
    min-height: 100vh;
    transition: all 400ms;
    overflow: hidden;
    
}

.boxBanner .navEscondida nav {

    position: relative;



    & .iconX{

        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        top: 20px;
        color: #EEAB42;
        cursor: pointer;
    }   

}


.boxBanner .navEscondida > nav > ul{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 65px 10px 0px 10px;



    & li{

        padding: 30px 12px;
        background-color: var(--corroxo);
        text-transform: uppercase;
        font-size: 1rem;
        color: white;
        border-radius: 30px;
    }
}


.boxBanner .navEscondida > nav > ul > .linkTopo:nth-of-type(3) > li{

   background-color: #EEAB42;

}


      
/* intersections animation */


.txOn{

    transform: translate(0);
    transition: 1s all;
    transition-delay: 200ms;

}

.txOff{

    transform: translate(-50vw);
   
}


.imgOn{

    transform: scale(1);
    transition:all 1s;
    transition-delay: 500ms;

}

.imgOff{

    transform: scale(0);

}



@media screen and (max-width:500px) {

    .boxBanner .boxImagem .nuvem{

        width: 80px;
        height: 80px;
    }

}



@media screen and (max-width:360px) {


        .boxBanner .boxTexto {

            & h1{

                font-size: 9vw;
            }

            & p{

                font-size: 7vw;
            }

        }

        .boxBanner .boxTexto button{

                font-size: 5vw;
        }

}



@keyframes moveNuvem {

    to{

        transform: translateX(-20px);
        transition-timing-function: linear;
        transition: 800ms;
    }

}





@keyframes moveFoguete {

    0% {
        transform:  translateY(0) rotate(0deg);
      }
    
      /* Etapa 1: Foguete sobe 100px */
      25% {
        transform: translateY(-200px) rotate(0deg);
      }

      35%{

        transform: translateY(-200px) rotate(90deg);
      }

      100%{

        transform: translateY(-200px) translateX(700px) rotate(90deg);
        opacity: 0;
      }

    

    }
      
@keyframes animaWpp {

    
        0%{

            transform: translateX(-2px);
        }

        100%{

            transform: translateX(4px);
        }


    }      
  
    
@keyframes moveTx {

    from {

        transform: translate(-50vw);
       
    }

    to{

        transform: translate(0);
        transition: all 1s;
        transition-timing-function: linear;

    }

}


@keyframes moveImg {


    from {

        transform: translate(50vw);
       
    }

    to{

        transform: translate(0);
        transition: all 1s;
        transition-timing-function: linear;

    }



}

